* {
  box-sizing: border-box;
  color: rgba(130, 143, 163);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: mediumpurple;
  background-image: url(../images/degleex-ganzorig-wQImoykAwGs-unsplash.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.parent {
  background-color: rgba(249, 249, 249);
  width: 100%;
  max-width: 480px;
  padding: 40px;
  -webkit-box-shadow: 5px 11px 50px 3px rgba(0, 0, 0, 0.38);
  border-radius: 3px;
}

h1 {
  color: #777;
  font-weight: 300;
  margin: 0 0 5px 0;
  font-size: 28px;
}

h2 {
  color: #999;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 25px 0;
}

#button {
  /* background-color: rgba(183, 121, 237); */
  background-color: green;
  color: white;
  border: none;
  width: 100%;
  padding: 14px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease;
}
#button:hover {
  transform: translateY(-2px);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 12px 0;
}

input,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  background-color: #fff;
  color: #555;
  font-size: 14px;
  outline: none;
}

textarea {
  height: 100px;
  resize: none;
}
